.bowerrc
.bundle
.codeclimate.yml
.circleci/*
.dockerignore
.env*
.git
.github/*
.gitignore
.irbrc
.reek
.rspec
.rubocop.yml
.sass-cache
.solargraph.yml
.vagrant
.vim*
.vscode/*
.DS_Store
*.md
circle.yml
config/deploy/*
coverage/*
docker-compose*.yml
dockerfile*
Dockerfile
docs
log/*.log*
rocro.yml
tmp/cache/*
tmp/pids/*
tmp/sessions/*
tmp/sockets/*
tmp/scripts/*
vendor/bundle
Guardfile
Vagrantfile
lib/tasks/docker.rake