.bowerrc
.bundle
.codeclimate.yml
.dockerignore
.env*
.git
.gitignore
.irbrc
.reek
.rspec
.rubocop.yml
.sass-cache
.vagrant
.vim*
.DS_Store
*.md
circle.yml
config/deploy/*
docker-images
docker-compose*.yml
dockerfile*
docs
log/*.log
tmp/cache/*
tmp/pids/*
tmp/sessions/*
tmp/sockets/*
tmp/scripts/*
vendor/bundle
Dockerfile
Guardfile
Vagrantfile
