<% page_list = slide.page_list %>
<%
if page_list.instance_of?(Array)
  page_count = page_list.count
else
  page_count = 0
end
%>
<% if page_count > 0 %>
<% count = 0 %>
<% page_list.each do |f| %>
<% count +=1 %>
<% u = "#{Myapp::Application.config.oss_resource_endpoint}/#{f}" %>
<div class="vertical_slide_box">
  <a name="img-<%= count-1 %>"></a>
  <% if count <= 2 %>
    <img class="lazy img-responsive" src="<%= u %>" />
  <% else %>
      <img class="lazy img-responsive" src="/oss/images/spacer640x480.png" data-original="<%= u %>" />
  <% end %>
</div>
<div class="icon_right">
<a href="#top"><span class="glyphicon glyphicon-arrow-up"></span></a>
</div>
<% end %>
<% elsif slide.convert_status < 0 %>
    <img class="lazy img-responsive" src="/oss/images/failed_to_convert.jpg" />
<% else %>
    <img class="lazy img-responsive" src="/oss/images/converting.jpg" />
<% end %>

<script type="text/javascript">
$(function() {
    $(".openslideshare_body img.lazy").lazyload({
        threshold : 200,
        effect: "fadeIn"
    });
});
</script>
