body.openslideshare_body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, "Arial", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
  font-size: 16px;
  line-height: 1.42857;
  background-color: #ddd;
  background-image: url(/oss/images/background.png);
}

.openslideshare_body h1,
.openslideshare_body h2,
.openslideshare_body h3,
.openslideshare_body h4,
.openslideshare_body h5,
.openslideshare_body h6,
.openslideshare_body .h1,
.openslideshare_body .h2,
.openslideshare_body .h3,
.openslideshare_body .h4,
.openslideshare_body .h5,
.openslideshare_body .h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, "Arial", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-weight: 300;
  line-height: 1.2;
}

.openslideshare_body img.slide_thumbnail {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border:1px solid #999;
  margin-bottom:4px;
}

.openslideshare_body div#prev,
.openslideshare_body div#next,
.openslideshare_body div#pager {
  display: inline; font-weight:bold; font-color:#fff !important;
}
.openslideshare_body .bx-wrapper .bx-viewport
{
  -moz-box-shadow: 0;
  -webkit-box-shadow: 0;
  box-shadow: none;
  border: 0;
  left: 0;
  background: transparent;
  height: auto;
  display: block;
  /**
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000 !important;
  **/
}
.openslideshare_body .bx-wrapper img {
  height: auto;
  display: block;
}
.openslideshare_body .bx-default-pager {
  display: inline; color: #ccc; font-weight: normal !important;
}
.openslideshare_body .bx-pager-item {
  display: none;
}

.openslideshare_body .slide_control {
  text-align:center;
  border:1px solid #000;
  padding-top:4px;
  padding-bottom:4px;
  margin-top: -60px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #656565), color-stop(1.00, #1f1f1f));
  background: -webkit-linear-gradient(#656565, #1f1f1f);
  background: -moz-linear-gradient(#656565, #1f1f1f);
  background: -o-linear-gradient(#656565, #1f1f1f);
  background: -ms-linear-gradient(#656565, #1f1f1f);
  background: linear-gradient(#656565, #1f1f1f);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
}

.openslideshare_body a,
.openslideshare_body a:hover,
.openslideshare_body a:visited,
.openslideshare_body a:active {
  overflow: hidden;
  outline: none;
}

.openslideshare_body .slide_control_link a,
.openslideshare_body .slide_control_link a:hover,
.openslideshare_body .slide_control_link a:visited,
.openslideshare_body .slide_control_link a:active {
  text-decoration: none;
  color: #eee !important;
}

.openslideshare_body div.row a,
.openslideshare_body div.row a:hover,
.openslideshare_body div.row a:visited,
.openslideshare_body div.row a:active {
  text-decoration: none;
  color: #cd4939;
}

.openslideshare_body ul.share-buttons{
  list-style: none;
  padding: 0;
}

.openslideshare_body ul.share-buttons li{
  display: inline;
}

.openslideshare_body div.slider {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000 !important;
  z-index:9999;
}

@-moz-document url-prefix() {
  div.slider {
     padding-right: 1px;
  }
}

.openslideshare_body .bximage {
  /** reserve **/
}

_::-webkit-full-page-media, _:future, :root .bx-wrapper .bx-viewport {
  /** reserve **/
  padding-left:0px;
}

.openslideshare_body div#slide_div_box {
  background-color: #fff !important;
  border:1px solid #ccc;
  padding-top:20px !important;
  margin-top:20px;
  margin-bottom:20px
}

.openslideshare_body div.slide_description {
  border:1px solid #ccc;
  background-color:#eee;
  padding:0.8em;
  margin-top:0.8em;
  padding-bottom:0px;
}

.openslideshare_body div.slide_detail_row {
  padding-top:8px;
  background-color:#fff !important;
}

.openslideshare_body div.related_slide_row {
  border:1px solid #ccc;
  background-color:#fff;
  padding:8px;
}

.openslideshare_body img.related_slide_thumbnail {
  border:1px solid #999;
  margin-right:4px;
  margin-bottom:4px;
  float:left;
}

.openslideshare_body i#slide_control_home_link,
.openslideshare_body i#slide_control_download_link,
.openslideshare_body i#slide_control_fullscreen {
  float: left;
  margin-left: 12px;
  margin-top: 2px;
  color: #fff;
}

.openslideshare_body i#slide_control_fast_forward {
  margin-left: 0px;
  margin-top: 2px;
  color: #fff;
}

.openslideshare_body i#slide_control_fast_backward {
  margin-left: 12px;
  margin-top: 2px;
  color: #fff;
}

.openslideshare_body div#slide_progress {
  float: right;
  width: 200px;
  height: 6px;
  margin-right: 10px;
  margin-top: 8px;
}

.openslideshare_body span.ui-slider-handle {
  height: 12px;
  width: 6px;
  outline:none;
}

.openslideshare_body div#slide_player:-webkit-full-screen {
  background: #000;
}

.openslideshare_body div.bordered_box {
  border:1px solid #ccc;
  background-color:#fff;
  padding:8px;
}

.openslideshare_body .bottom_margin {
  margin-bottom: 4px;
}

.openslideshare_body .bottom_padding_20 {
  padding-bottom: 20px;
}

/** Show slide vertically **/
.openslideshare_body div.vertical_slide_box {
  border:1px solid #000;
  margin-bottom:0px;
}

.openslideshare_body div.icon_right {
  text-align: right;
}

.openslideshare_body div.icon_right span {
  color: #bbb;
}
.openslideshare_body #main_container {
  max-width:1024px; background-color:transparent; padding-top: 60px; margin-top:1em; border:none;
}
.openslideshare_body div.alert {
  margin-top:20px !important;
  margin-bottom:0px !important;
}

.openslideshare_body .slidecard .slidecard-image{
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  border-bottom: 1px solid #ccc;
}

.openslideshare_body .slidecard .slidecard-image img{
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.openslideshare_body .slidecard .slidecard-image:hover img{
  /*-webkit-transform: scale(1.2) rotate(-7deg);
  -moz-transform: scale(1.2) rotate(-7deg);
  -ms-transform: scale(1.2) rotate(-7deg);
  -o-transform: scale(1.2) rotate(-7deg);
  transform: scale(1.2) rotate(-7deg);*/
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2));
  -ms-transform: scale(1.2) ;
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.openslideshare_body .slidecard {
  position:relative;
  background-color: #fff;
  margin-top: 0px;
  position: relative;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.openslideshare_body .slidecard .slidecard-content {
  padding: 10px;
}

.openslideshare_body .slidecard .slidecard-basic-info {
  height: auto;
}

.openslideshare_body .slidecard .slidecard-content .slidecard-title, .openslideshare_body .slidecard-reveal .slidecard-title{
  font-size: 0.9em;
  font-weight: bold;
  height:2.4em;
  margin-bottom: 0.4em;
  overflow: hidden;
  vertical-align: middle;
  display: table-cell;
}

.openslideshare_body .slidecard .slidecard-content .slidecard-description {
  font-size: 0.8em;
  height: 3em;
  overflow:hidden;
}

.openslideshare_body .slidecard .slidecard-action{
  padding: 20px;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
}
.openslideshare_body .slidecard .slidecard-action a{
  font-size: 15px;
  color: #ffab40;
  text-transform:uppercase;
  margin-right: 20px;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.openslideshare_body .slidecard .slidecard-action a:hover{
  color:#ffd8a6;
  text-decoration:none;
}

.openslideshare_body .slidecard .slidecard-information{
  padding: 2px;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  font-size: 0.6em;
}
.openslideshare_body .slidecard .slidecard-reveal{
  padding: 20px;
  position: absolute;
  background-color: #FFF;
  width: 100%;
  overflow-y: auto;
  /*top: 0;*/
  left:0;
  bottom:0;
  height: 100%;
  z-index: 1;
  display: none;
}

.openslideshare_body .slidecard .slidecard-reveal p{
  color: rgba(0, 0, 0, 0.71);
  margin:20px ;
}

.openslideshare_body div.avatar50 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 50px !important;
  width: 50px;
  overflow: hidden;
  text-align: center;
}

.openslideshare_body .avatar50 img {
  width:50px;
  height:50px;
}

.openslideshare_body .avatar20 img {
  width:18px;
  height:18px;
  border: 1px solid #666;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding:0px;
}

/* Profile sidebar */
.openslideshare_body .profile-sidebar {
  margin-top:20px;
  padding: 20px 0 10px 0;
  background: #fff;
  border: 1px solid #ccc;
}

.openslideshare_body .profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 40%;
  height: 40%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.openslideshare_body .profile-usertitle {
  text-align: center;
  margin-top: 14px;
}

.openslideshare_body .profile-usertitle-name {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 7px;
}

.openslideshare_body .profile-usertitle-job {
  text-align:left;
  font-size: 0.8em;
  margin-left:1em;
  margin-right:1em;
  margin-bottom: 15px;
}

.openslideshare_body .profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.openslideshare_body .profile-userbuttons .btn {
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.openslideshare_body .profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.openslideshare_body .profile-usermenu {
  margin-top: 30px;
}

/** Comment Form **/
.openslideshare_body .comment_post {
  border: 1px solid #ccc;
  padding-top: 8px;
  padding-bottom:2px;
  padding-left: 10px;
  padding-right: 10px;
}

/** Related Slides **/
.openslideshare_body ul.thumbnail_with_text {
  margin-left: 0px;
  padding-left:0px;
  margin-bottom:0px;
  list-style-type: none;
  background-color: #fff;
}

.openslideshare_body ul.thumbnail_with_text li img {
  float: left;
  margin: 0 15px 0 0;
  width: 120px;
  border:1px solid #ccc;
}

.openslideshare_body ul.thumbnail_with_text li p {
}

.openslideshare_body ul.thumbnail_with_text li {
  padding: 10px;
  overflow: auto;
}

.openslideshare_body ul.thumbnail_with_text li:hover {
  background: #ddd;
  cursor: pointer;
}

/** Embedded Player **/
@media screen and (max-width: 400px) {
  .openslideshare_body div#slide_progress {
    display : none;
  }
}

.tag1 { font-size: 1.0em; }
.tag2 { font-size: 1.2em; }
.tag3 { font-size: 1.4em; }
.tag4 { font-size: 1.6em; }
