<div class="mb-4"></div>
<% content_for :title, t(:search) %>
<div class="row">
  <div class="col-md-12">
    <%- model_class = Slide -%>
    <h3><%=t :search_slides %></h3>

    <%= render 'search_form', search_q: @search %>

    <%= render 'slides/thumbnail_template', column_class: 'col-md-3 col-sm-6', slides: @slides %>

    <br clear="all" />
    <%= will_paginate @slides, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
  </div>
</div>
