<% if devise_mapping.omniauthable? && Rails.application.config.slidehub.facebook? %>
    <div class="main">
  <% resource_class.omniauth_providers.each do |provider| %>
    <% next if provider.to_s == 'twitter' and Rails.application.config.slidehub.twitter? == false %>
    <% next if provider.to_s == 'facebook' and Rails.application.config.slidehub.facebook? == false %>
    <% next if provider.to_s == 'saml' and Rails.application.config.slidehub.saml? == false %>
          <%= link_to t(:signin_with_provider, :provider => provider.to_s.titleize), omniauth_authorize_path(resource_name, provider), :class => 'btn btn-lg btn-primary', :method => :post %>&nbsp;&nbsp;
  <% end %>
    </div>
    <br clear="all" />
<% end %>
