<% if devise_mapping.omniauthable? && Rails.application.config.slidehub.facebook? %>
    <div class="main">
      <div class="row">
  <% resource_class.omniauth_providers.each do |provider| %>
    <% next if provider.to_s == 'twitter' and Rails.application.config.slidehub.twitter? == false %>
    <% next if provider.to_s == 'facebook' and Rails.application.config.slidehub.facebook? == false %>
    <% next if provider.to_s == 'saml' and Rails.application.config.slidehub.saml? == false %>
        <div class="col-xs-3 col-sm-3 col-md-3">
          <%= link_to t(:signin_with_provider, :provider => provider.to_s.titleize), omniauth_authorize_path(resource_name, provider), :class => 'btn btn-lg btn-primary btn-block' %>
        </div>
  <% end %>
      </div>
    </div>
    <br clear="all" />
<% end %>
