<div class="profile-sidebar">
  <div class="profile-userpic">
    <%= image_tag(user.avatar.url(:medium), class: 'img-responsive') %>
  </div>
  <div class="profile-usertitle">
    <div class="profile-usertitle-name">
      <%= link_to strip_tags(user.display_name), user %>
    </div>
    <div class="profile-usertitle-job">
      <%= strip_tags user.biography %>
    </div>
  </div>
</div>
