<div class="card profile-sidebar">
  <div class="card-body">
    <div class="profile-userpic">
      <% if user.avatar.attached?  %>
      <%= image_tag(url_for(user.avatar), class: 'img-fluid d-block mx-auto') %>
      <% else %>
      <%= image_tag('avatar/medium/missing.png', class: 'img-fluid d-block mx-auto') %>
      <% end %>
    </div>
    <div class="profile-usertitle">
      <div class="profile-usertitle-name">
        <%= link_to strip_tags(user.display_name), user_by_username_path(username: user.username) %>
      </div>
      <div class="profile-usertitle-job">
        <%= strip_tags user.biography %>
      </div>
    </div>
  </div>
</div>
