<% flash.each do |name, msg| %>
  <% name = 'info' if name == 'notice' %>
  <% name = 'warning' if name == 'alert' %>
  <div class="alert alert-<%= name %>">
    <%= msg.html_safe %>
  </div>
<% end %>
