<h3><%= @path %>&nbsp;&nbsp;<small><%= link_to t(:back_to_list), admin_logs_index_path %></small></h3>

<div class="panel panel-default">
  <div class="panel-body">
    <% @result.each do |line| %>
    <%= line %><br />
    <% end %>
  </div>
</div>
