# vim: ft=yaml
development:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: openslideshare
  pool: 5
  username: root
  password: passw0rd
  host: localhost

test:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: test_openslideshare
  pool: 5
  username: root
  password: passw0rd
  host: localhost

production:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: openslideshare
  pool: 5
  username: root
  password: passw0rd
  host: localhost
