/** custom **/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #515D6C;
}

.footer div {
  background-color: #515D6C;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 40px 15px 0;
}
.container .text-muted {
  margin: 8px 0;
  color: #fff !important;
  font-size: 0.9em !important;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

@media only screen and (min-width: 992px) {
    .footer {
        height: auto;
    }
}

@media only screen and (max-width: 760px) {
    .footer {
        height: auto;
    }
}
