<div class="mb-4"></div>
<div class="row">
  <div class="col-md-12">
    <%- model_class = Slide -%>
    <h3><%=t :slides_in_category, category: @category.name %></h3>

    <%= render 'slides/thumbnail_template', column_class: 'col-md-3 col-sm-6', slides: @slides %>

    <br clear="all" />
    <%= will_paginate @slides, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
  </div>
</div>

<script type="text/javascript">
    $(window).on('load', function () {
        $('.col-md-3').equalHeights();
    });
</script>
