<h3><%= t(:edit_slide) %>&nbsp;&nbsp;<small><a href="/managements/dashboard"><%= t :back_to_dashboard %></a></small></h3>

<%= render :partial => 'slide_edit_form', :locals => { :slide => @slide } %>
